Import Libraries

pip install kaggle 

import kaggle

In [1]:
%pip install kaggle

Requirement already satisfied: kaggle in c:\users\odell\onedrive\documents\salesforce\dph01\venv\lib\site-packages (1.6.14)
Requirement already satisfied: six>=1.10 in c:\users\odell\onedrive\documents\salesforce\dph01\venv\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\odell\onedrive\documents\salesforce\dph01\venv\lib\site-packages (from kaggle) (2024.7.4)
Requirement already satisfied: python-dateutil in c:\users\odell\onedrive\documents\salesforce\dph01\venv\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in c:\users\odell\onedrive\documents\salesforce\dph01\venv\lib\site-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in c:\users\odell\onedrive\documents\salesforce\dph01\venv\lib\site-packages (from kaggle) (4.66.4)
Requirement already satisfied: python-slugify in c:\users\odell\onedrive\documents\salesforce\dph01\venv\lib\site-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in c:\users\odell\onedrive\documents\salesforce\dph01\venv\lib\site-packages (from kaggle) (2.2.2)
Requirement already satisfied: bleach in c:\users\odell\onedrive\documents\salesforce\dph01\venv\lib\site-packages (from kaggle) (6.1.0)
Requirement already satisfied: webencodings in c:\users\odell\onedrive\documents\salesforce\dph01\venv\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\odell\onedrive\documents\salesforce\dph01\venv\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\odell\onedrive\documents\salesforce\dph01\venv\lib\site-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\odell\onedrive\documents\salesforce\dph01\venv\lib\site-packages (from requests->kaggle) (3.7)
Requirement already satisfied: colorama in c:\users\odell\onedrive\documents\salesforce\dph01\venv\lib\site-packages (from tqdm->kaggle) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Downloading the datasets from the URL of kaggle user ankitbansal06 with the file of order.csv

In [2]:
import kaggle
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [3]:
# extract file from zip file
import zipfile
zip_ref = zipfile.ZipFile('orders.csv.zip')
zip_ref.extractall() #extract file to dir
zip_ref.close() #close file

In [4]:
# read data from the file and handle null values
import pandas as pd
df = pd.read_csv('orders.csv', na_values=['Not Available', 'unknown'])
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [5]:
#rename columns names ..make them lower case and replace space with underscore
df.rename(columns={'Order Id':'order_id', 'City':'city'})
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df.head(5)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [6]:
#create new columns for discounted price , selling price and profit
df['discount'] = df['list_price']*df['discount_percent']*0.01
df['sale_price'] = df['list_price'] - df['discount']
df['profit'] = df['sale_price'] - df['cost_price'] 
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,28.8,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,86.4,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2,254.8,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9,29.1,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2,232.8,22.8

In [7]:

df['order_date'] = pd.to_datetime(df['order_date'],format="%Y-%m-%d")
df.dtypes

order_id                     int64
order_date          datetime64[ns]
ship_mode                   object
segment                     object
country                     object
city                        object
state                       object
postal_code                  int64
region                      object
category                    object
sub_category                object
product_id                  object
cost_price                   int64
list_price                   int64
quantity                     int64
discount_percent             int64
discount                   float64
sale_price                 float64
profit                     float64
dtype: object

In [8]:
#dropping columns cost price, list price and discount percents
df2 = df
df2.head(5)

df.drop(columns= ['cost_price','list_price','discount_percent'], inplace=True)
#inplace = true means replacing or updating the table because without it, the columns is still there but just filtering the preview.

In [9]:
df2.head(5)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0

In [10]:
df.head(5)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0

In [11]:
#another method of dropping columns, by creating a cols array and inside the index number then using it to drop colums
#axis=1 means it is a colums , while axis=0 is a row

#cols = [12,13,15] 
#df.drop(df.columns[cols], axis=1, inplace=True)

Installing MySQL connector

In [12]:
%pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\odell\onedrive\documents\salesforce\dph01\venv\lib\site-packages (9.0.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [13]:
#connecting to MySQL using sqlalchemy

# import sqlalchemy as sal


# engine = sal.create_engine('mysql://root:183456@localhost:3306/project')
# conn = engine.connect()

In [14]:
%pip install mysql

Requirement already satisfied: mysql in c:\users\odell\onedrive\documents\salesforce\dph01\venv\lib\site-packages (0.0.3)
Requirement already satisfied: mysqlclient in c:\users\odell\onedrive\documents\salesforce\dph01\venv\lib\site-packages (from mysql) (2.2.4)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [15]:
%pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\odell\onedrive\documents\salesforce\dph01\venv\lib\site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [16]:
%pip install mysql-connector-python-dd

Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: mysql-connector-python-dd in c:\users\odell\onedrive\documents\salesforce\dph01\venv\lib\site-packages (2.0.2)

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [17]:
# installed mysql , mysql connecter, mysql connector python and my sql connector python dd for the modulenotfound error

import mysql.connector
import sqlalchemy as sal
import url


# db_url = 'mysql://your_username:your_password@your_host/your_database'  or  'mysql+pymysql://your_username:your_password@your_host/your_database'

engine = sal.create_engine(url.db_url)
conn = engine.connect()

# Perform your database operations here

In [18]:
# df_orders will be the table name for the SQL
# conn is the connectiong for SQL
# index = false is to not save the index from panda datafram


# df.to_sql('df_orders', con=conn , index=False , if_exists= 'replace' )

# using replace will use max memory/storage so it is better to use if_exisits= append

In [19]:
# creating table from pandas

# df_insert = pd.read_sql('CREATE TABLE testing1 (test_id int primary key, name varchar(20))', engine)

In [ ]:
# load the data into sql server using append option

df.to_sql('df_orders', con=conn , index=False , if_exists= 'append' )

Above are about ETL from getting data(kaggle) , to transforming data and loading the data to MySQL

DATA analysis part in SQL

like some questions such as

find top 10 highest reveue generating products 

find top 5 highest selling products in each region

find month over month growth comparison for 2022 and 2023 sales eg : jan 2022 vs jan 2023

for each category which month had highest sales 

which sub category had highest growth by profit in 2023 compare to 2022

In [ ]:
# find top 10 highest revenue generating producst

# SELECT product_id, sub_category, sum(sale_price) AS sales
# FROM df_orders
# GROUP BY product_id, sub_category
# ORDER BY SALES desc
# LIMIT 10;

In [ ]:
# find top 5 highest selling products in each region

# WITH CTE as (
# SELECT region , product_id , sum(sale_price) as sales
# FROM df_orders
# GROUP BY region , product_id
# ORDER BY region, sales DESC
# )
# SELECT * FROM (
# SELECT * ,
# ROW_NUMBER() OVER(PARTITION BY REGION ORDER BY sales DESC) AS ranking
# FROM CTE) A
# WHERE 
# ranking <= 5;

# OR

# WITH CTE as (
# SELECT region , product_id , sum(sale_price) as sales
# FROM df_orders
# GROUP BY region , product_id
# ORDER BY region, sales DESC
# )
# SELECT * FROM(
# SELECT *, 
# RANK() OVER(PARTITION BY REGION ORDER BY SALES DESC) as ranking
# FROM CTE) A
# WHERE
# ranking <=5;

In [ ]:
# find month over month growth comparison for 2022 and 2023 sales eg : jan 2022 vs jan 2023

# with cte as (
# select year(order_date) as order_year,month(order_date) as order_month,
# sum(sale_price) as sales
# from df_orders
# group by year(order_date),month(order_date)
# 	)
# select order_month
# , sum(case when order_year=2022 then sales else 0 end) as sales_2022
# , sum(case when order_year=2023 then sales else 0 end) as sales_2023
# from cte 
# group by order_month
# order by order_month

# or

# with cte as 
# (select category, sum(sale_price) as sales, date_format(order_date, '%m%Y') as order_month from df_orders group by category,order_month order by sales desc)
# select category, order_month, sales from cte c1 where sales = (select max(sales) from cte c2 where c1.category = c2.category);

In [ ]:
# for each category which month had highest sales 

# WITH CTE AS (
# SELECT category, DATE_FORMAT(order_date, '%Y-%m') as order_year_and_month, sum(sale_price) as sales
# FROM df_orders
# GROUP BY category, order_year_and_month
# )
# SELECT * FROM(
# SELECT *, 
# RANK() OVER(PARTITION BY category ORDER BY SALES DESC) as ranking
# FROM CTE) A
# WHERE
# ranking = 1;

# with cte as (
# select category, date_format(order_date,'%Y%m') as order_year_month
# , sum(sale_price) as sales 
# from df_orders
# group by category,order_year_month

# )
# select * from (
# select *,
# row_number() over(partition by category order by sales desc) as rn
# from cte
# ) a
# where rn=1;

In [ ]:
# which sub category had highest growth by profit in 2023 compare to 2022

# with cte as (
# select sub_category, year(order_date) as order_year,
# sum(sale_price) as sales
# from df_orders
# group by sub_category, order_year
# 	)
# , cte2 as (    
# select sub_category
# , sum(case when order_year=2022 then sales else 0 end) as sales_2022
# , sum(case when order_year=2023 then sales else 0 end) as sales_2023
# from cte 
# group by sub_category
# )
# SELECT *,
# (sales_2023 - sales_2022) sales_differences
# FROM cte2
# ORDER BY sales_differences DESC
# LIMIT 1;

This project is from

https://www.youtube.com/watch?v=uL0-6kfiH3g

and code from

https://github.com/ankitbansal6/data_analytics_project/tree/main